.top-background {
    height: 15vh;
    background-color: #009688;
}

.bottom-background {
    height: 85vh;
    background-color: #DADBD5;
}

.main-container {
    position: absolute;
    width: 80%;
    height: 90%;
    background: bisque;
    top: 5%;
    left: 10%;
}
